<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>ADDIS-UPDATE-STOCK</title>
    <link rel="home icon" type="image/jpg" href="../img/books.png" />
</head>

<body id="update-StockBody">
    <!--header-->

    <header>
        <div>
            <h2 id="update-stockHeader"> Addis Stock Management </h2>
        </div>
    </header>


    <div id="update_stock" class="form-title">

        <a href="/view-stock" id="back-btn-viewAllStock"><i class="fas fa-angle-double-left"></i>view_AllStock</a>
        <a href="/home-page"><i id="logout-btn-update" class=" fas fa-user"></i> Log Out </a>


        <h2>Update Stock</h2>
        <span>Use the following table to update the stock</span>
    </div>
    <!--/header-->