<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title>ADDIS-UPDATE-STOCK</title>
    <link rel="home icon" type="image/jpg" href="../img/books.png" />
</head>

<body id="body-viewStock">
    <!--header-->

    <header id="header-viewStock">
        <nav>
            <div class="container">
                <div class="text-center">
                    <h2> Addis Stock Management </h2>
                </div>
            </div>
        </nav>
    </header>

    <div class="form-title">
        <div>
            <a href="/add-newBook" id="back-btn-addStock"><i  class="fas fa-angle-double-left"></i>add-newStock</a>
            <a href="/home-page"><i class=" fas fa-user"></i> Log Out </a>
        </div>
        <h2>View Stock</h2>
        <span>The following table shows books in the stock</span>
    </div>
    <!--/header-->