<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
    <title>ADDIS-NEW-ARRIVAL</title>
  </head>
  <body id="add_stock_body">
    <!--header-->
 
        <header id="header-addStock">
           <div>
              <h2>Addis Stock Management</h2>
           </div>
        </header>
       
        
        <div class="form-title">
          <a href="/view-stock"><i id="update-btn-addStock"  class="fa fa-wrench" aria-hidden="true"></i> View & Update-Stock </a>
            <a href="/home-page"><i id="logout-btn-addStock" class=" fas fa-user"></i> Log Out </a>  
              
         
          <h2>New Arrival</h2>
          <span>User the form below to add new book to the stock</span>
        </div>
<!--/header-->










